/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    background-color: #07050F;
}

html {
    scroll-behavior: smooth;
  }

h1 {
    color: white;
    font-family: 'Patrick Hand', cursive;
    position: relative;
    font-weight: 100;
    animation: textFloat 1.5s infinite;
}

p, a {
    color: white;
    font-family: 'Patrick Hand', cursive;
    position: relative;
    text-align: center;

    font-style: none;
    text-decoration: none;
}

.floatingText {
    animation: textFloat 1.5s infinite;
}

hr {
    width: 60%;
}

/* PAGE SCROLLING SECTION */

.pageScrollers {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 5px;
    gap: 10px;
} .pageScrollers p, .pageScrollers a {
    font-size: 14px;
}

ol {
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    overflow: hidden;
}

li {
    float: left;
  }
  
li a {
    display: block;
    color: white;

    text-align: center;
    margin: 20px;

    text-decoration: none;
}

/* SPOTIFY CONTAINER */

.spotifyContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.spotifyBox {
    width: auto;
    height: auto;
    transition: .2s ease;
    border-radius: 5%;
    box-shadow: 0 0 50px #00457e73;
}

.spotifyBox:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px #00457E;
}

@keyframes textFloat {
    0% {top: 0px;}
    50% {top: 3px;}
    100% {top: 0px;}
}

/* SECTION STYLING */ 

#section {
    margin: 15px;
    border: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;
    align-self: center;
}

.sectionContent {
    width: 70%;
    margin: 1px;
    border-radius: 3%;
    background-color: rgba(255, 255, 255, 0.050);
    box-shadow: 0 0 50px #00457e3b;

    transition: 0.2s;

    align-self: center;
} .sectionContent:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
    box-shadow: 0 0 50px #00457E;
}

.imageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: 2%;
}

.sectionText {
    display: flex;
    flex-direction: column;

    text-align: center;
} .sectionText a {
    text-decoration: underline;
}

.iconImg {
    margin: 10px;
    border-radius: 10%;
    width: 50%;
    transition: 0.1s ease;
} .iconImg:hover {
    transform: scale(1.03);
}